.txt-logo h2 {
    line-height: 25px;
        font-size: 18px;
        margin:5px 0;
}
.txt-logo h3 {
        font-family: OpenSans-Bold;
    font-size: 25px !important;
    text-shadow: none;
    letter-spacing: 3px;
}
.tit_right_header h2{
	    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-family: 'OpenSans-Bold';
    margin: 25px 50px;
}


#lcv{
    background: url(../../img/bg_dn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
}